<!-- Exercise 3 Internationalization-->

<ng-template cxOutletRef="Section1" [cxOutletPos]="before">
    <a [routerLink]="{ cxRoute: 'product', params:{ code: 1934793, name: 'powershot' }} | cxUrl">
        {{'searchBox.powerSHot'|cxTranslate}}</a>
    <a [routerLink]="{ cxRoute: 'category', params:{ code: 578 }} | cxUrl">
        {{'searchBox.slr' | cxTranslate}} </a>
</ng-template>

<ng-template [cxOutletRef]="pdpOutlets.SUMMARY">
    @if(availableForPickup$ |async){
    <div>Available for Pickup</div>
    }
    @else {
    <div>Not Available for pickup</div>
    }
</ng-template>